input {
    padding: 10px;
    border: 2px solid $bg-color;
    border-radius: 4px;
    max-width: 100%;
    &:focus {
        outline: none;
        border: 2px solid $bg-color-base;
        background-color: $bg-color-hover;
    }

    &:hover {
        border: 2px solid $bg-color-base;
        background-color: $bg-color;
    }
}