.question-box {
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-color;
        border-radius: 8px;
        margin: 6px 0px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: $bg-color-hover;

            .title,
            h2 {
                background-color: $bg-color-hover;
            }
        }

        .title,
        h2 {
            background-color: $bg-color;

        }

        .image {
            border-radius: 50%;
            overflow: hidden;
            width: 50px;
            height: 50px;
            object-fit: contain;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}