.question-box {
    margin-top: 20px;
    background-color: $light-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .content {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: $bg-color;
        border-radius: 8px;
        margin: 6px auto;
        padding: 14px;
        min-width: 350px;
        width: 100%;
        max-width: 100%;
        cursor: pointer;

        &:hover {
            background-color: $bg-color-hover;

            .title,
            h2 {
                background-color: $bg-color-hover;
            }
        }
        
        .title, h2 {
            background-color: $bg-color;
        }

        .image {
            border-radius: 4px;
            overflow: hidden;
            height: 50px;
            width: 50px;
            margin-right: 20px;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}