.server-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    border-radius: 4px;

    .loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}