@import "variables";
@import '../styles/components/Button';
@import '../styles/components/ConnectionStatus';
@import '../styles/components/QuestionItem';
@import '../styles/components/ServerStatus';
@import '../styles/components/ShareContent';

@import '../styles/pages/details';
@import '../styles/pages/questions';

* {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: $bg-color-base;
  border-radius: 8px;
}

main {
  border-radius: 8px;
  padding: 20px;
  background-color: $light-color;
}

footer {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background-color: $bg-color-base;
  border-radius: 8px;
}

h2 {
  background-color: $bg-color-base;
  color: $title-color;
  font-size: $medium-font-size;
}

a {
  color: $link-color;
}

button {
  @include primary-button;
}

input {
  padding: 10px;
  border: 2px solid $bg-color;
  border-radius: 4px;
  max-width: 100%;
  &:focus {
      outline: none;
      border: 2px solid $bg-color-base;
      background-color: $bg-color-hover;
  }

  &:hover {
      border: 2px solid $bg-color-base;
      background-color: $bg-color;
  }
}

.wrong {
  color: red;
  font-size: $chip-font-size;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.msg {
  color: green;
  padding: 10px;
  display: flex;
  justify-content: center;
}