// light colors
$base-color: #b8dbff;
$soft-color: #fff99f;
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-color: #fff;
$dark-color: #1a1a1a;

// background color
$bg-color: #e6e6e6;
$bg-color-base: #81beff;
$bg-color-hover: #f0f0f0;

// text color
$text-color: #92816d;
$title-color: #022f53;
$link-color: #4e473e;

// font sizes
$small-font-size: 0.5em;
$chip-font-size: 0.8em;
$medium-font-size: 1.2em;
$large-font-size: 2em;